@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-Italic.woff2') format('woff2'),
        url('/font/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-Regular.woff2') format('woff2'),
        url('/font/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-icon: contrast(0) brightness(100);
    --white: #fff;
    --red: hsl(0, 80%, 55%);
    --light-gray: hsl(227, 36%, 90%);
    --card-shadow: 0.1em 0.1em 0.4em #8d8c8c;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: 'Open Sans', serif;
}

.header {
    grid-area: 1 / 2 / span 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    grid-area: 1 / 1 / -1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 1.5rem 0 0.2rem;
    row-gap: 2rem;
    background-color: var(--red);
}

.main-container {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--light-gray);
    padding: 2rem 1rem;
    column-gap: 1rem;
}

.sidebar-middle li,
.sidebar-bottom li {
    list-style-type: none;
}

.header-top {
    grid-area: 1 / 1 / span 1 / span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-bottom {
    grid-area: 2 / 1 / span 1 / span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 2rem;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-top: -0.2rem;
}

.main-container-left {
    grid-area: 1 / 1 / span 2 / span 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.projects-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.main-container-right-1 {
    grid-area: 1 / 2 / span 1 / span 1;
}

.main-container-right-2 {
    grid-area: 2 / 2 / span 1 / span 1;
}

.sidebar-icons {
    height: 1.1rem;
    filter: var(--white-icon);
    margin: 0 0.8rem;
}

.dashboard-icon {
    height: 2rem;
    filter: var(--white-icon);
    margin: 0 0.5rem;
}

.sidebar-top,
li {
    display: flex;
    margin-bottom: 15px;
}

.sidebar-top > div {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 900;
}

li > p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 800;
}

.search-icon {
    height: 1.1rem
}

.header-top-left {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    margin: 0 2rem;
}

input[type="search"] {
    border-style: none;
    background-color: var(--light-gray);
    border-radius: 12px;
    padding: 0.3em 0 0.3em 1rem;
    grid-column: 2 / span 1;
}

.profile-small-1 {
    background: no-repeat center/100% url("/imgs/profile-1.jpg") ;
    padding: 1.5rem;
    border-radius: 30px;
}

.header-top-right {
    display: grid;
    grid-template-columns: 100px 50px minmax(50px, 500px);
    align-items: center;
    margin-right: 2rem;
}

.bell-icon {
    height: 1.2rem;
    margin-left: 50px;
}

.header-top-right > p {
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 20px;
    text-align: right;
}

.header-bottom-left {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 40px 6fr;
    column-gap: 55px;
    align-items: center;
}

.profile-big {
    background: no-repeat center/100% url("/imgs/profile-1.jpg");
    padding: 40px;
    border-radius: 50px;
}

.profile-name p:first-child {
    font-size: 0.7rem;
    font-weight: bold;
}

.profile-name p:last-child {
    font-weight: bold;
}

.header-bottom-right {
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    column-gap: 1rem
}

button {
    background-color: var(--red);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.main-container-left > div:first-child,
.main-container-right-1 > div:first-child,
.main-container-right-2 > div:first-child {
    font-weight: bold;
    font-size: 0.9rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.projects-cards {
    background-color: #fff;
    border-radius: 10px;
    border-left: #7c98d7 solid 10px;
    padding: 1.5rem 1rem 1rem 1rem;
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    box-shadow: var(--card-shadow);
}

.projects-cards .projects {
    font-weight: bold;
    font-size: 0.9rem;

}

.projects-cards p {
    font-size: 0.8rem;
    color: #5c5e63;
}

.projects-icons img {
    height: 1.1rem;
}

.projects-icons {
    justify-self: end;
    display: flex;
    column-gap: 20px;
}








